# API
GO_PROD=0
GO_PORT="8000"

# Database
DB_HOST="database"
DB_PORT="5432"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="placesdb"

# Goose DB Migrations
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:postgres@database:5432/placesdb
# Replace template values with your actual configuration before running the application.